code,
pre {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #2e2e2e;
  font-family: Monaco, Consolas, "Courier New", monospace;
  font-size: 16px;
  padding: 16px;
}
code {
  background-color: #ffffff;
  color: #191919;
  padding: 3px 5px;
}
pre {
  background-color: #191919;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #ffffff;
  display: block;
  line-height: 22px;
  margin: 16px 0 0;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
}
pre.prettyprint {
  margin-bottom: 27px;
}
pre code {
  background-color: transparent;
  color: inherit;
  counter-reset: line-numbering;
  font-size: 14px;
  padding: 0;
}
pre code .line::before {
  color: #404040;
  content: counter(line-numbering);
  counter-increment: line-numbering;
  font-size: 15.299999999999999px;
  padding-right: 1em;
  /* space after numbers */

  width: 13px;
  text-align: right;
}
