white: rgba(255, 255, 255, 0.01);
white: rgba(255, 255, 255, 0.02);
white: rgba(255, 255, 255, 0.03);
white: rgba(255, 255, 255, 0.04);
white: rgba(255, 255, 255, 0.05);
white: rgba(255, 255, 255, 0.06);
white: rgba(255, 255, 255, 0.07);
white: rgba(255, 255, 255, 0.08);
white: rgba(255, 255, 255, 0.09);
white: rgba(255, 255, 255, 0.1);
white: rgba(255, 255, 255, 0.11);
white: rgba(255, 255, 255, 0.12);
white: rgba(255, 255, 255, 0.13);
white: rgba(255, 255, 255, 0.14);
white: rgba(255, 255, 255, 0.15);
white: rgba(255, 255, 255, 0.16);
white: rgba(255, 255, 255, 0.17);
white: rgba(255, 255, 255, 0.18);
white: rgba(255, 255, 255, 0.19);
white: rgba(255, 255, 255, 0.2);
white: rgba(255, 255, 255, 0.21);
white: rgba(255, 255, 255, 0.22);
white: rgba(255, 255, 255, 0.23);
white: rgba(255, 255, 255, 0.24);
white: rgba(255, 255, 255, 0.25);
white: rgba(255, 255, 255, 0.26);
white: rgba(255, 255, 255, 0.27);
white: rgba(255, 255, 255, 0.28);
white: rgba(255, 255, 255, 0.29);
white: rgba(255, 255, 255, 0.3);
white: rgba(255, 255, 255, 0.31);
white: rgba(255, 255, 255, 0.32);
white: rgba(255, 255, 255, 0.33);
white: rgba(255, 255, 255, 0.34);
white: rgba(255, 255, 255, 0.35);
white: rgba(255, 255, 255, 0.36);
white: rgba(255, 255, 255, 0.37);
white: rgba(255, 255, 255, 0.38);
white: rgba(255, 255, 255, 0.39);
white: rgba(255, 255, 255, 0.4);
white: rgba(255, 255, 255, 0.41);
white: rgba(255, 255, 255, 0.42);
white: rgba(255, 255, 255, 0.43);
white: rgba(255, 255, 255, 0.44);
white: rgba(255, 255, 255, 0.45);
white: rgba(255, 255, 255, 0.46);
white: rgba(255, 255, 255, 0.47);
white: rgba(255, 255, 255, 0.48);
white: rgba(255, 255, 255, 0.49);
white: rgba(255, 255, 255, 0.5);
white: rgba(255, 255, 255, 0.51);
white: rgba(255, 255, 255, 0.52);
white: rgba(255, 255, 255, 0.53);
white: rgba(255, 255, 255, 0.54);
white: rgba(255, 255, 255, 0.55);
white: rgba(255, 255, 255, 0.56);
white: rgba(255, 255, 255, 0.57);
white: rgba(255, 255, 255, 0.58);
white: rgba(255, 255, 255, 0.59);
white: rgba(255, 255, 255, 0.6);
white: rgba(255, 255, 255, 0.61);
white: rgba(255, 255, 255, 0.62);
white: rgba(255, 255, 255, 0.63);
white: rgba(255, 255, 255, 0.64);
white: rgba(255, 255, 255, 0.65);
white: rgba(255, 255, 255, 0.66);
white: rgba(255, 255, 255, 0.67);
white: rgba(255, 255, 255, 0.68);
white: rgba(255, 255, 255, 0.69);
white: rgba(255, 255, 255, 0.7);
white: rgba(255, 255, 255, 0.71);
white: rgba(255, 255, 255, 0.72);
white: rgba(255, 255, 255, 0.73);
white: rgba(255, 255, 255, 0.74);
white: rgba(255, 255, 255, 0.75);
white: rgba(255, 255, 255, 0.76);
white: rgba(255, 255, 255, 0.77);
white: rgba(255, 255, 255, 0.78);
white: rgba(255, 255, 255, 0.79);
white: rgba(255, 255, 255, 0.8);
white: rgba(255, 255, 255, 0.81);
white: rgba(255, 255, 255, 0.82);
white: rgba(255, 255, 255, 0.83);
white: rgba(255, 255, 255, 0.84);
white: rgba(255, 255, 255, 0.85);
white: rgba(255, 255, 255, 0.86);
white: rgba(255, 255, 255, 0.87);
white: rgba(255, 255, 255, 0.88);
white: rgba(255, 255, 255, 0.89);
white: rgba(255, 255, 255, 0.9);
white: rgba(255, 255, 255, 0.91);
white: rgba(255, 255, 255, 0.92);
white: rgba(255, 255, 255, 0.93);
white: rgba(255, 255, 255, 0.94);
white: rgba(255, 255, 255, 0.95);
white: rgba(255, 255, 255, 0.96);
white: rgba(255, 255, 255, 0.97);
white: rgba(255, 255, 255, 0.98);
white: rgba(255, 255, 255, 0.99);
black: rgba(0, 0, 0, 0.01);
black: rgba(0, 0, 0, 0.02);
black: rgba(0, 0, 0, 0.03);
black: rgba(0, 0, 0, 0.04);
black: rgba(0, 0, 0, 0.05);
black: rgba(0, 0, 0, 0.06);
black: rgba(0, 0, 0, 0.07);
black: rgba(0, 0, 0, 0.08);
black: rgba(0, 0, 0, 0.09);
black: rgba(0, 0, 0, 0.1);
black: rgba(0, 0, 0, 0.11);
black: rgba(0, 0, 0, 0.12);
black: rgba(0, 0, 0, 0.13);
black: rgba(0, 0, 0, 0.14);
black: rgba(0, 0, 0, 0.15);
black: rgba(0, 0, 0, 0.16);
black: rgba(0, 0, 0, 0.17);
black: rgba(0, 0, 0, 0.18);
black: rgba(0, 0, 0, 0.19);
black: rgba(0, 0, 0, 0.2);
black: rgba(0, 0, 0, 0.21);
black: rgba(0, 0, 0, 0.22);
black: rgba(0, 0, 0, 0.23);
black: rgba(0, 0, 0, 0.24);
black: rgba(0, 0, 0, 0.25);
black: rgba(0, 0, 0, 0.26);
black: rgba(0, 0, 0, 0.27);
black: rgba(0, 0, 0, 0.28);
black: rgba(0, 0, 0, 0.29);
black: rgba(0, 0, 0, 0.3);
black: rgba(0, 0, 0, 0.31);
black: rgba(0, 0, 0, 0.32);
black: rgba(0, 0, 0, 0.33);
black: rgba(0, 0, 0, 0.34);
black: rgba(0, 0, 0, 0.35);
black: rgba(0, 0, 0, 0.36);
black: rgba(0, 0, 0, 0.37);
black: rgba(0, 0, 0, 0.38);
black: rgba(0, 0, 0, 0.39);
black: rgba(0, 0, 0, 0.4);
black: rgba(0, 0, 0, 0.41);
black: rgba(0, 0, 0, 0.42);
black: rgba(0, 0, 0, 0.43);
black: rgba(0, 0, 0, 0.44);
black: rgba(0, 0, 0, 0.45);
black: rgba(0, 0, 0, 0.46);
black: rgba(0, 0, 0, 0.47);
black: rgba(0, 0, 0, 0.48);
black: rgba(0, 0, 0, 0.49);
black: rgba(0, 0, 0, 0.5);
black: rgba(0, 0, 0, 0.51);
black: rgba(0, 0, 0, 0.52);
black: rgba(0, 0, 0, 0.53);
black: rgba(0, 0, 0, 0.54);
black: rgba(0, 0, 0, 0.55);
black: rgba(0, 0, 0, 0.56);
black: rgba(0, 0, 0, 0.57);
black: rgba(0, 0, 0, 0.58);
black: rgba(0, 0, 0, 0.59);
black: rgba(0, 0, 0, 0.6);
black: rgba(0, 0, 0, 0.61);
black: rgba(0, 0, 0, 0.62);
black: rgba(0, 0, 0, 0.63);
black: rgba(0, 0, 0, 0.64);
black: rgba(0, 0, 0, 0.65);
black: rgba(0, 0, 0, 0.66);
black: rgba(0, 0, 0, 0.67);
black: rgba(0, 0, 0, 0.68);
black: rgba(0, 0, 0, 0.69);
black: rgba(0, 0, 0, 0.7);
black: rgba(0, 0, 0, 0.71);
black: rgba(0, 0, 0, 0.72);
black: rgba(0, 0, 0, 0.73);
black: rgba(0, 0, 0, 0.74);
black: rgba(0, 0, 0, 0.75);
black: rgba(0, 0, 0, 0.76);
black: rgba(0, 0, 0, 0.77);
black: rgba(0, 0, 0, 0.78);
black: rgba(0, 0, 0, 0.79);
black: rgba(0, 0, 0, 0.8);
black: rgba(0, 0, 0, 0.81);
black: rgba(0, 0, 0, 0.82);
black: rgba(0, 0, 0, 0.83);
black: rgba(0, 0, 0, 0.84);
black: rgba(0, 0, 0, 0.85);
black: rgba(0, 0, 0, 0.86);
black: rgba(0, 0, 0, 0.87);
black: rgba(0, 0, 0, 0.88);
black: rgba(0, 0, 0, 0.89);
black: rgba(0, 0, 0, 0.9);
black: rgba(0, 0, 0, 0.91);
black: rgba(0, 0, 0, 0.92);
black: rgba(0, 0, 0, 0.93);
black: rgba(0, 0, 0, 0.94);
black: rgba(0, 0, 0, 0.95);
black: rgba(0, 0, 0, 0.96);
black: rgba(0, 0, 0, 0.97);
black: rgba(0, 0, 0, 0.98);
black: rgba(0, 0, 0, 0.99);
gray: #fcfcfc;
gray: #fafafa;
gray: #f7f7f7;
gray: #f5f5f5;
gray: #f2f2f2;
gray: #f0f0f0;
gray: #ededed;
gray: #ebebeb;
gray: #e8e8e8;
gray: #e6e6e6;
gray: #e3e3e3;
gray: #e0e0e0;
gray: #dedede;
gray: #dbdbdb;
gray: #d9d9d9;
gray: #d6d6d6;
gray: #d4d4d4;
gray: #d1d1d1;
gray: #cfcfcf;
gray: #cccccc;
gray: #c9c9c9;
gray: #c7c7c7;
gray: #c4c4c4;
gray: #c2c2c2;
gray: #bfbfbf;
gray: #bdbdbd;
gray: #bababa;
gray: #b8b8b8;
gray: #b5b5b5;
gray: #b3b3b3;
gray: #b0b0b0;
gray: #adadad;
gray: #ababab;
gray: #a8a8a8;
gray: #a6a6a6;
gray: #a3a3a3;
gray: #a1a1a1;
gray: #9e9e9e;
gray: #9c9c9c;
gray: #999999;
gray: #969696;
gray: #949494;
gray: #919191;
gray: #8f8f8f;
gray: #8c8c8c;
gray: #8a8a8a;
gray: #878787;
gray: #858585;
gray: #828282;
gray: #808080;
gray: #7d7d7d;
gray: #7a7a7a;
gray: #787878;
gray: #757575;
gray: #737373;
gray: #707070;
gray: #6e6e6e;
gray: #6b6b6b;
gray: #696969;
gray: #666666;
gray: #636363;
gray: #616161;
gray: #5e5e5e;
gray: #5c5c5c;
gray: #595959;
gray: #575757;
gray: #545454;
gray: #525252;
gray: #4f4f4f;
gray: #4d4d4d;
gray: #4a4a4a;
gray: #474747;
gray: #454545;
gray: #424242;
gray: #404040;
gray: #3d3d3d;
gray: #3b3b3b;
gray: #383838;
gray: #363636;
gray: #333333;
gray: #303030;
gray: #2e2e2e;
gray: #2b2b2b;
gray: #292929;
gray: #262626;
gray: #242424;
gray: #212121;
gray: #1f1f1f;
gray: #1c1c1c;
gray: #191919;
gray: #171717;
gray: #141414;
gray: #121212;
gray: #0f0f0f;
gray: #0d0d0d;
gray: #0a0a0a;
gray: #080808;
gray: #050505;
gray: #030303;