white: rgba(255, 255, 255, 0.01);
white: rgba(255, 255, 255, 0.02);
white: rgba(255, 255, 255, 0.03);
white: rgba(255, 255, 255, 0.04);
white: rgba(255, 255, 255, 0.05);
white: rgba(255, 255, 255, 0.06);
white: rgba(255, 255, 255, 0.07);
white: rgba(255, 255, 255, 0.08);
white: rgba(255, 255, 255, 0.09);
white: rgba(255, 255, 255, 0.1);
white: rgba(255, 255, 255, 0.11);
white: rgba(255, 255, 255, 0.12);
white: rgba(255, 255, 255, 0.13);
white: rgba(255, 255, 255, 0.14);
white: rgba(255, 255, 255, 0.15);
white: rgba(255, 255, 255, 0.16);
white: rgba(255, 255, 255, 0.17);
white: rgba(255, 255, 255, 0.18);
white: rgba(255, 255, 255, 0.19);
white: rgba(255, 255, 255, 0.2);
white: rgba(255, 255, 255, 0.21);
white: rgba(255, 255, 255, 0.22);
white: rgba(255, 255, 255, 0.23);
white: rgba(255, 255, 255, 0.24);
white: rgba(255, 255, 255, 0.25);
white: rgba(255, 255, 255, 0.26);
white: rgba(255, 255, 255, 0.27);
white: rgba(255, 255, 255, 0.28);
white: rgba(255, 255, 255, 0.29);
white: rgba(255, 255, 255, 0.3);
white: rgba(255, 255, 255, 0.31);
white: rgba(255, 255, 255, 0.32);
white: rgba(255, 255, 255, 0.33);
white: rgba(255, 255, 255, 0.34);
white: rgba(255, 255, 255, 0.35);
white: rgba(255, 255, 255, 0.36);
white: rgba(255, 255, 255, 0.37);
white: rgba(255, 255, 255, 0.38);
white: rgba(255, 255, 255, 0.39);
white: rgba(255, 255, 255, 0.4);
white: rgba(255, 255, 255, 0.41);
white: rgba(255, 255, 255, 0.42);
white: rgba(255, 255, 255, 0.43);
white: rgba(255, 255, 255, 0.44);
white: rgba(255, 255, 255, 0.45);
white: rgba(255, 255, 255, 0.46);
white: rgba(255, 255, 255, 0.47);
white: rgba(255, 255, 255, 0.48);
white: rgba(255, 255, 255, 0.49);
white: rgba(255, 255, 255, 0.5);
white: rgba(255, 255, 255, 0.51);
white: rgba(255, 255, 255, 0.52);
white: rgba(255, 255, 255, 0.53);
white: rgba(255, 255, 255, 0.54);
white: rgba(255, 255, 255, 0.55);
white: rgba(255, 255, 255, 0.56);
white: rgba(255, 255, 255, 0.57);
white: rgba(255, 255, 255, 0.58);
white: rgba(255, 255, 255, 0.59);
white: rgba(255, 255, 255, 0.6);
white: rgba(255, 255, 255, 0.61);
white: rgba(255, 255, 255, 0.62);
white: rgba(255, 255, 255, 0.63);
white: rgba(255, 255, 255, 0.64);
white: rgba(255, 255, 255, 0.65);
white: rgba(255, 255, 255, 0.66);
white: rgba(255, 255, 255, 0.67);
white: rgba(255, 255, 255, 0.68);
white: rgba(255, 255, 255, 0.69);
white: rgba(255, 255, 255, 0.7);
white: rgba(255, 255, 255, 0.71);
white: rgba(255, 255, 255, 0.72);
white: rgba(255, 255, 255, 0.73);
white: rgba(255, 255, 255, 0.74);
white: rgba(255, 255, 255, 0.75);
white: rgba(255, 255, 255, 0.76);
white: rgba(255, 255, 255, 0.77);
white: rgba(255, 255, 255, 0.78);
white: rgba(255, 255, 255, 0.79);
white: rgba(255, 255, 255, 0.8);
white: rgba(255, 255, 255, 0.81);
white: rgba(255, 255, 255, 0.82);
white: rgba(255, 255, 255, 0.83);
white: rgba(255, 255, 255, 0.84);
white: rgba(255, 255, 255, 0.85);
white: rgba(255, 255, 255, 0.86);
white: rgba(255, 255, 255, 0.87);
white: rgba(255, 255, 255, 0.88);
white: rgba(255, 255, 255, 0.89);
white: rgba(255, 255, 255, 0.9);
white: rgba(255, 255, 255, 0.91);
white: rgba(255, 255, 255, 0.92);
white: rgba(255, 255, 255, 0.93);
white: rgba(255, 255, 255, 0.94);
white: rgba(255, 255, 255, 0.95);
white: rgba(255, 255, 255, 0.96);
white: rgba(255, 255, 255, 0.97);
white: rgba(255, 255, 255, 0.98);
white: rgba(255, 255, 255, 0.99);
black: rgba(0, 0, 0, 0.01);
black: rgba(0, 0, 0, 0.02);
black: rgba(0, 0, 0, 0.03);
black: rgba(0, 0, 0, 0.04);
black: rgba(0, 0, 0, 0.05);
black: rgba(0, 0, 0, 0.06);
black: rgba(0, 0, 0, 0.07);
black: rgba(0, 0, 0, 0.08);
black: rgba(0, 0, 0, 0.09);
black: rgba(0, 0, 0, 0.1);
black: rgba(0, 0, 0, 0.11);
black: rgba(0, 0, 0, 0.12);
black: rgba(0, 0, 0, 0.13);
black: rgba(0, 0, 0, 0.14);
black: rgba(0, 0, 0, 0.15);
black: rgba(0, 0, 0, 0.16);
black: rgba(0, 0, 0, 0.17);
black: rgba(0, 0, 0, 0.18);
black: rgba(0, 0, 0, 0.19);
black: rgba(0, 0, 0, 0.2);
black: rgba(0, 0, 0, 0.21);
black: rgba(0, 0, 0, 0.22);
black: rgba(0, 0, 0, 0.23);
black: rgba(0, 0, 0, 0.24);
black: rgba(0, 0, 0, 0.25);
black: rgba(0, 0, 0, 0.26);
black: rgba(0, 0, 0, 0.27);
black: rgba(0, 0, 0, 0.28);
black: rgba(0, 0, 0, 0.29);
black: rgba(0, 0, 0, 0.3);
black: rgba(0, 0, 0, 0.31);
black: rgba(0, 0, 0, 0.32);
black: rgba(0, 0, 0, 0.33);
black: rgba(0, 0, 0, 0.34);
black: rgba(0, 0, 0, 0.35);
black: rgba(0, 0, 0, 0.36);
black: rgba(0, 0, 0, 0.37);
black: rgba(0, 0, 0, 0.38);
black: rgba(0, 0, 0, 0.39);
black: rgba(0, 0, 0, 0.4);
black: rgba(0, 0, 0, 0.41);
black: rgba(0, 0, 0, 0.42);
black: rgba(0, 0, 0, 0.43);
black: rgba(0, 0, 0, 0.44);
black: rgba(0, 0, 0, 0.45);
black: rgba(0, 0, 0, 0.46);
black: rgba(0, 0, 0, 0.47);
black: rgba(0, 0, 0, 0.48);
black: rgba(0, 0, 0, 0.49);
black: rgba(0, 0, 0, 0.5);
black: rgba(0, 0, 0, 0.51);
black: rgba(0, 0, 0, 0.52);
black: rgba(0, 0, 0, 0.53);
black: rgba(0, 0, 0, 0.54);
black: rgba(0, 0, 0, 0.55);
black: rgba(0, 0, 0, 0.56);
black: rgba(0, 0, 0, 0.57);
black: rgba(0, 0, 0, 0.58);
black: rgba(0, 0, 0, 0.59);
black: rgba(0, 0, 0, 0.6);
black: rgba(0, 0, 0, 0.61);
black: rgba(0, 0, 0, 0.62);
black: rgba(0, 0, 0, 0.63);
black: rgba(0, 0, 0, 0.64);
black: rgba(0, 0, 0, 0.65);
black: rgba(0, 0, 0, 0.66);
black: rgba(0, 0, 0, 0.67);
black: rgba(0, 0, 0, 0.68);
black: rgba(0, 0, 0, 0.69);
black: rgba(0, 0, 0, 0.7);
black: rgba(0, 0, 0, 0.71);
black: rgba(0, 0, 0, 0.72);
black: rgba(0, 0, 0, 0.73);
black: rgba(0, 0, 0, 0.74);
black: rgba(0, 0, 0, 0.75);
black: rgba(0, 0, 0, 0.76);
black: rgba(0, 0, 0, 0.77);
black: rgba(0, 0, 0, 0.78);
black: rgba(0, 0, 0, 0.79);
black: rgba(0, 0, 0, 0.8);
black: rgba(0, 0, 0, 0.81);
black: rgba(0, 0, 0, 0.82);
black: rgba(0, 0, 0, 0.83);
black: rgba(0, 0, 0, 0.84);
black: rgba(0, 0, 0, 0.85);
black: rgba(0, 0, 0, 0.86);
black: rgba(0, 0, 0, 0.87);
black: rgba(0, 0, 0, 0.88);
black: rgba(0, 0, 0, 0.89);
black: rgba(0, 0, 0, 0.9);
black: rgba(0, 0, 0, 0.91);
black: rgba(0, 0, 0, 0.92);
black: rgba(0, 0, 0, 0.93);
black: rgba(0, 0, 0, 0.94);
black: rgba(0, 0, 0, 0.95);
black: rgba(0, 0, 0, 0.96);
black: rgba(0, 0, 0, 0.97);
black: rgba(0, 0, 0, 0.98);
black: rgba(0, 0, 0, 0.99);
gray: #fcfcfc;
gray: #fafafa;
gray: #f7f7f7;
gray: #f5f5f5;
gray: #f2f2f2;
gray: #f0f0f0;
gray: #ededed;
gray: #ebebeb;
gray: #e8e8e8;
gray: #e6e6e6;
gray: #e3e3e3;
gray: #e0e0e0;
gray: #dedede;
gray: #dbdbdb;
gray: #d9d9d9;
gray: #d6d6d6;
gray: #d4d4d4;
gray: #d1d1d1;
gray: #cfcfcf;
gray: #cccccc;
gray: #c9c9c9;
gray: #c7c7c7;
gray: #c4c4c4;
gray: #c2c2c2;
gray: #bfbfbf;
gray: #bdbdbd;
gray: #bababa;
gray: #b8b8b8;
gray: #b5b5b5;
gray: #b3b3b3;
gray: #b0b0b0;
gray: #adadad;
gray: #ababab;
gray: #a8a8a8;
gray: #a6a6a6;
gray: #a3a3a3;
gray: #a1a1a1;
gray: #9e9e9e;
gray: #9c9c9c;
gray: #999999;
gray: #969696;
gray: #949494;
gray: #919191;
gray: #8f8f8f;
gray: #8c8c8c;
gray: #8a8a8a;
gray: #878787;
gray: #858585;
gray: #828282;
gray: #808080;
gray: #7d7d7d;
gray: #7a7a7a;
gray: #787878;
gray: #757575;
gray: #737373;
gray: #707070;
gray: #6e6e6e;
gray: #6b6b6b;
gray: #696969;
gray: #666666;
gray: #636363;
gray: #616161;
gray: #5e5e5e;
gray: #5c5c5c;
gray: #595959;
gray: #575757;
gray: #545454;
gray: #525252;
gray: #4f4f4f;
gray: #4d4d4d;
gray: #4a4a4a;
gray: #474747;
gray: #454545;
gray: #424242;
gray: #404040;
gray: #3d3d3d;
gray: #3b3b3b;
gray: #383838;
gray: #363636;
gray: #333333;
gray: #303030;
gray: #2e2e2e;
gray: #2b2b2b;
gray: #292929;
gray: #262626;
gray: #242424;
gray: #212121;
gray: #1f1f1f;
gray: #1c1c1c;
gray: #191919;
gray: #171717;
gray: #141414;
gray: #121212;
gray: #0f0f0f;
gray: #0d0d0d;
gray: #0a0a0a;
gray: #080808;
gray: #050505;
gray: #030303;/* !======================== */
/* != Markup free clearing = */
/* ========================= Details: http://www.positioniseverything.net/easyclearing.html */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.group {
  display: inline-block;
}
/* Hides from IE-mac \*/
* html .group {
  height: 1%;
}
.group {
  display: block;
}
/* End hide from IE-mac */
body {
  background-color: #f2f0ed;
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  font-family: "OpenSans", Calibri, "Lucida Grande", Verdana, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  padding: 0 20px 20px;
  width: 800px;
}
.header {
  background-color: #309f83;
  background-image: url("../assets/edge.bottom.png");
  background-position: -50% 100%;
  background-repeat: repeat-x;
  color: rgba(255, 255, 255, 0.7);
  font-size: .75em;
  height: 35px;
  padding: .75em 1em .25em;
}
.header p {
  margin: 0;
}
.header a {
  border: none;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
.header a:hover {
  color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
footer {
  background-color: #ddd7cf;
  background-image: url("../assets/edge.top.png");
  background-position: -50% 0;
  background-repeat: repeat-x;
  color: rgba(0, 0, 0, 0.6);
  clear: both;
  display: block;
  font-size: 18px;
  margin-top: 3em;
  padding: 2em 0;
  text-align: center;
  width: 100%;
}
footer a {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.7);
}
footer a:hover {
  border-color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.8);
}
h1,
h2,
h3 {
  margin-top: 1.5em;
  margin-bottom: 0;
  font-family: "Exo", Calibri, "Lucida Grande", Verdana, sans-serif;
  font-weight: bold;
  text-rendering: optimizelegibility;
}
h1 {
  color: #c33;
  font-size: 3.5em;
  margin-top: .5em;
}
h1 small {
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
  font-weight: normal;
  margin-top: 6px;
}
h1 a {
  color: rgba(0, 0, 0, 0.7);
}
h2 {
  color: #2c7a68;
  font-size: 1.75em;
  line-height: 1;
}
h3 {
  color: #07342b;
  font-size: .9em;
  text-transform: uppercase;
}
p {
  line-height: 1.4;
  margin: .75em 0 0;
}
p + p {
  margin-top: .25em;
  text-indent: 1em;
}
a {
  border-bottom: 1px solid;
  text-decoration: none;
}
.lead {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 6px 10px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 6px 10px rgba(0, 0, 0, 0.03);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 6px 10px rgba(0, 0, 0, 0.03);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-family: "Exo", Calibri, "Lucida Grande", Verdana, sans-serif;
  font-size: 1.333em;
  line-height: 1.5;
  margin: 1em 0;
  padding: .5em 1.25em 1.25em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
hr {
  display: block;
  clear: both;
  margin: 3em 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
}
.download {
  display: inline-block;
  float: right;
  margin: .75em 0 2em 5%;
  width: 40%;
}
.download p {
  color: rgba(0, 0, 0, 0.3);
  clear: both;
  padding: 1em 0 0 2em;
  font-size: 14px;
}
.download p a {
  color: rgba(0, 0, 0, 0.4);
}
.download div a {
  background-image: url("../assets/less-icon-48.png");
  background-position: 1em 50%;
  background-repeat: no-repeat;
  background-color: #4dbfa4;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-box-shadow: inset 0 -10px 20px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -10px 20px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 10px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -10px 20px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 10px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  padding: .25em .75em;
  border: none;
  float: left;
  font-size: .9em;
  line-height: 1.125;
  padding: .25em 0;
  padding-left: 3.5em;
  padding-right: .25em;
  width: auto;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.download div a span {
  font-family: "OpenSans", Calibri, "Lucida Grande", Verdana, sans-serif;
  font-size: 14px;
  line-height: 14px;
  clear: both;
  color: rgba(0, 0, 0, 0.6);
  float: left;
  padding-bottom: 6px;
  text-shadow: none;
}
.download div a:hover {
  background-color: #60c6ae;
}
.briefly div {
  float: left;
  margin-right: 5%;
  width: 45%;
}
.briefly .grid {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 2px 5px rgba(0, 0, 0, 0.1), 0 6px 10px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 2px 5px rgba(0, 0, 0, 0.1), 0 6px 10px rgba(0, 0, 0, 0.03);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 2px 5px rgba(0, 0, 0, 0.1), 0 6px 10px rgba(0, 0, 0, 0.03);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: 1em;
  margin-right: 0;
  padding: 0 0 12px;
  overflow: hidden;
  width: 100%;
}
.briefly .grid div {
  background-color: transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 50px;
  margin: 10px 0;
  padding: 0 5%;
  overflow: hidden;
  width: 90%;
}
.briefly .grid div span {
  display: block;
  float: left;
  font-size: 12px;
  padding-top: 5px;
  height: 45px;
  width: 20%;
  text-indent: 5px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
.briefly .grid .swatch {
  padding: 7px 5% 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  height: 25px;
  width: 90%;
}
.input {
  float: left;
  margin-right: 5%;
  width: 45%;
}
.output {
  float: left;
  width: 50%;
}
.lead .grid {
  background-color: #808080;
  color: black;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 2px 5px rgba(0, 0, 0, 0.1), 0 6px 10px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 2px 5px rgba(0, 0, 0, 0.1), 0 6px 10px rgba(0, 0, 0, 0.03);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 2px 5px rgba(0, 0, 0, 0.1), 0 6px 10px rgba(0, 0, 0, 0.03);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  height: 150px;
  margin: 27px 0 0;
  overflow: hidden;
  width: 100%;
}
.lead .grid div {
  float: left;
  height: 150px;
  width: 10%;
}
.lead .grid div div {
  float: left;
  margin-top: 25px;
  height: 125px;
  width: 50%;
}
.lead .grid span {
  display: block;
  height: 25px;
  width: 105%;
}
.white {
  background-color: #ffffff;
}
.white1 {
  background-color: rgba(255, 255, 255, 0.1);
}
.white2 {
  background-color: rgba(255, 255, 255, 0.2);
}
.white3 {
  background-color: rgba(255, 255, 255, 0.3);
}
.white4 {
  background-color: rgba(255, 255, 255, 0.4);
}
.white5 {
  background-color: rgba(255, 255, 255, 0.5);
}
.white6 {
  background-color: rgba(255, 255, 255, 0.6);
}
.white7 {
  background-color: rgba(255, 255, 255, 0.7);
}
.white8 {
  background-color: rgba(255, 255, 255, 0.8);
}
.white9 {
  background-color: rgba(255, 255, 255, 0.9);
}
.black {
  background-color: #000000;
}
.black1 {
  background-color: rgba(0, 0, 0, 0.1);
}
.black2 {
  background-color: rgba(0, 0, 0, 0.2);
}
.black3 {
  background-color: rgba(0, 0, 0, 0.3);
}
.black4 {
  background-color: rgba(0, 0, 0, 0.4);
}
.black5 {
  background-color: rgba(0, 0, 0, 0.5);
}
.black6 {
  background-color: rgba(0, 0, 0, 0.6);
}
.black7 {
  background-color: rgba(0, 0, 0, 0.7);
}
.black8 {
  background-color: rgba(0, 0, 0, 0.8);
}
.black9 {
  background-color: rgba(0, 0, 0, 0.9);
}
.gray {
  background-color: #808080;
}
.gray1 {
  background-color: #191919;
  color: rgba(255, 255, 255, 0.9);
}
.gray2 {
  background-color: #333333;
  color: rgba(255, 255, 255, 0.9);
}
.gray3 {
  background-color: #4d4d4d;
  color: rgba(255, 255, 255, 0.9);
}
.gray4 {
  background-color: #666666;
  color: rgba(255, 255, 255, 0.9);
}
.gray5 {
  background-color: #8c8c8c;
  color: rgba(255, 255, 255, 0.9);
}
.gray6 {
  background-color: #999999;
}
.gray7 {
  background-color: #b3b3b3;
}
.gray8 {
  background-color: #cccccc;
}
.gray9 {
  background-color: #e6e6e6;
}
.gray97 {
  background-color: #f7f7f7;
}
.red {
  background-color: #c33;
}
.orange {
  background-color: #ff7b00;
}
.yellow {
  background-color: #ffd000;
}
.lime {
  background-color: #4dbf58;
}
.green {
  background-color: #4dbfa4;
}
.blue {
  background-color: #09c;
}
.purple {
  background-color: #7366ff;
}
.magenta {
  background-color: #bf66ff;
}
.pink {
  background-color: #ff66f2;
}
.light1 {
  background-color: rgba(255, 255, 255, 0.1);
}
.light2 {
  background-color: rgba(255, 255, 255, 0.25);
}
.light3 {
  background-color: rgba(255, 255, 255, 0.5);
}
.light4 {
  background-color: rgba(255, 255, 255, 0.75);
}
.light5 {
  background-color: rgba(255, 255, 255, 0.9);
}
.dark1 {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}
.dark2 {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
}
.dark3 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.dark4 {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}
.dark5 {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}
