// CSS FOR EXAMPLE
// ---------------

@import "colors.less";


/* !======================== */
/* != Markup free clearing = */
/* ========================= Details: http://www.positioniseverything.net/easyclearing.html */


.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.group {
	display: inline-block;
}

/* Hides from IE-mac \*/

* html .group {
	height: 1%;
}

.group {
	display: block;
}
/* End hide from IE-mac */


// Basics
body {
	background-color: #f2f0ed;
	color: @black70;
	font-size: 18px;
	font-family: sans-serif;
	line-height: 1.5;
	max-width: 44em;
	margin: 0 auto;
}

h1, h2, h3 {
	margin-top: 1.5em;
	margin-bottom: 0;
	}

h1 {
	color: #c33;
	font-size: 3em;
	
	small {
		color: @black40;
		font-size: 18px;
		font-weight: normal;
		margin-top: 6px;
		}
}

h2 {
	color: #128f74;
	font-size: 1.75em;
	line-height: 1;

}

h3 {
	color: darken(#128f74, 20);
	font-size: .9em;
	text-transform: uppercase;
}

p {
	line-height: 24px;
	margin: 14px 0 0;
}

// Lead paragraphs
.lead {
	background-color: white;
	border-bottom: 1px solid @black10;
	border-top: 1px solid @white90;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 1.333em;
	line-height: 1.35;
	margin: 1em 0;
	padding: 1em 1.25em;
}

// Horizontal rules
hr {
	display: block;
	clear: both;
	margin: 27px 0;
	border: 0;
	border-top: 1px solid @black10;
	border-bottom: 1px solid @white90;
}

// Footer
footer {
	clear: both;
	display: block;
	padding: 2em 0;
	text-align: center;
	width: 100%;
	}

// Input output
.input {
	float: left;
	margin-right: 5%;
	width: 45%;
	}

.output {
	float: left;
	width: 50%;
	}


// Contain the colors
.color {
	display: block;
	float: left;
	margin-right: 5%;
	margin-bottom: 2em;
	width: 45%;
	}

/*
.example {
	display: block;
	clear: both;
	margin-bottom: 3em;
	padding-top: 1px;
	width: 100%;
	
	.grid {
		height: 50px;
		margin-top: 0;
		
		div {
			color: black;
			width: 100%;
			}
		
		span {
			display: inline-block;
			float: left;
			font-size: 12px;
			height: 25px;
			width: 6%;
			padding: 2%;
			-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
			-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
			box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
			}
		}
	}
*/

// Grid of colors
.grid {
	background-color: white;
	color: black;
	font-size: 12px;
	height: 125px;
	margin-top: 27px;
	padding-top: 25px;
	width: 100%;
	
	div {
		float: left;
		height: 50px;
		width: 50%;
		}
		
	span {
		display: block;
		height: 25px;
		width: 100%;
		}
	}
	
.lead .grid {
	margin-top: 0;
	margin-bottom: 27px;
	
	div {
		height: 150px;
		width: 25%;
		}
	div div {
		float: left;
		margin-top: 25px;
		height: 125px;
		width: 50%;
		}
	span {
		width: 102%;
		}
	}

// Examples
.white,
.black {
	background-color: transparent;
	}

// White example
.white1 { 	background-color: @white10; }
.white2 { 	background-color: @white20; }
.white3 { 	background-color: @white30; }
.white4 { 	background-color: @white40; }
.white5 { 	background-color: @white50; }
.white6 { 	background-color: @white60; }
.white7 { 	background-color: @white70; }
.white8 { 	background-color: @white80; }
.white9 { 	background-color: @white90; }

// Black example
.black1 { 	background-color: @black10; }
.black2 { 	background-color: @black20; }
.black3 { 	background-color: @black30; }
.black4 { 	background-color: @black40; }
.black5 { 	background-color: @black50; }
.black6 { 	background-color: @black60; }
.black7 { 	background-color: @black70; }
.black8 { 	background-color: @black80; }
.black9 { 	background-color: @black90; }

// Gray example
.gray1 { 	background-color: @gray10; }
.gray2 { 	background-color: @gray20; }
.gray3 { 	background-color: @gray30; }
.gray4 { 	background-color: @gray40; }
.gray5 { 	background-color: @gray50; }
.gray6 { 	background-color: @gray60; }
.gray7 { 	background-color: @gray70; }
.gray8 { 	background-color: @gray80; }
.gray9 { 	background-color: @gray90; }

.red {
	background-color: red;
	}

.yellow {
	background-color: yellow;
	}

.green {
	background-color: green;
	}

.blue {
	background-color: blue;
	}

// Lighten background
.light1 {
	background-color: @white10;
	}
.light2 {
	background-color: @white25;
	}
.light3 {
	background-color: @white50;
	}
.light4 {
	background-color: @white75;
	}
.light5 {
	background-color: @white90;
	}

// Darken background
.dark1 {
	background-color: @black10;
	}
.dark2 {
	background-color: @black25;
	}
.dark3 {
	background-color: @black50;
	color: white;
	}
.dark4 {
	background-color: @black75;
	color: white;
	}
.dark5 {
	background-color: @black90;
	color: white;
	}
